<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801356952341-v3sodgf0ltmjdai94p945bvmjpnqrvq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801356952341-v3sodgf0ltmjdai94p945bvmjpnqrvq3</string>
	<key>API_KEY</key>
	<string>AIzaSyCQEMNi2ewsce8xIjs7Zwz5KbAx518Eu2o</string>
	<key>GCM_SENDER_ID</key>
	<string>801356952341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sayhi</string>
	<key>PROJECT_ID</key>
	<string>sayhi-2e08b</string>
	<key>STORAGE_BUCKET</key>
	<string>sayhi-2e08b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801356952341:ios:a4cdda92da5c93ef9cef1c</string>
</dict>
</plist>